.our {
    min-height: 472px;
    background-color: #f6f6f6;
    padding: 69px 0 78px 0;
    
    &__wrapper {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__item {
        width: 247px;
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 38px;
        }
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 25px;
        span {
            display: block;
            color: #0d0d0d;
            font-size: 14px;
            font-weight: 300;
            margin-top: 25px;
        }
    }
}